input[type=submit] {
    background-color: #3eaaaf !important;
    border: none !important;
}

input {
    background-color: #464649 !important;
    border: none !important;
}


.field-icon {
    float: right;
    color: white;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

input:focus {
    outline: none !important;
    border: 2px solid #3eaaaf !important;
    box-shadow: 0 0 10px #3eaaaf;
    background-color: #0e0e10 !important;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    border: 1px solid #464649;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #464649 inset;
    transition: background-color 9999s ease-in-out 0s;
}
