@model IEnumerable<Online_Cinema_Domain.Models.Movie>

@foreach (var film in Model)
{
    <div class="p-2 bd-highlight" style="width:20%">
        <img class="card-img-top" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@film.Image))" style="width:100%" alt="Card image cap">
        <h6 class="card-title text-white">@film.MovieTitle</h6>
        <h5 class="card-title " style="font-size:14px; color:#adadb8">... зрителей</h5>
        @foreach (var item in film.Genre)
        {
            <button data-open="false" class="btn btn-outline-info" style=" border-radius: 35px; background-color:#323234; color: #c2c2c2; font-size:12px; height:30px"><b>@item.GenreName</b></button>
        }
    </div>
}