@model IList<Online_Cinema_Domain.Models.Session>
@if (Model != null)
{
    <div class="d-flex flex-row bd-highlight mb-3 flex-wrap" id="flux">
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th scope="col">Movie Title</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Movie.MovieTitle</td>
                        <td>@item.Start.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@item.End.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<style>
    th, td {
        text-align: center;
        vertical-align: middle;
    }
</style>