@model Online_Cinema_Models.View.RoomViewModel

@if (Model != null)
{
    <link href="~/css/admin-panel.css" rel="stylesheet" />

    <div class="col mycontent pt-3">
        <div class="pt-4 pl-2 pr-2 vh-100">
            <div id="mainDiv" class="vh-100">
                <div class="mb-5" style="padding:30px; z-index:1; min-width:300px; background-color: #18181b;">
                    <form id="changeFilmForm" asp-action="ChangeMovie" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h3 class="mb-3 text-white">Редактирование</h3>
                        <h4 class="mb-3 text-white">Обязательные поля</h4>
                        <div class="form-row mb-4">
                            <div class="form-group col-md-3 pr-2">
                                @if (Model.RoomImage.Length != 0)
                                {<img id="viewImage" src=@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@Model.RoomImage)) /> }
                                else
                                { <img id="viewImage" src="~/Images/background-fon.jpg" />}
                            </div>
                            <div class="form-group col-md-9">
                                <input asp-for="Id" type="hidden" />
                                <div class="form-row">
                                    <div class="form-group col-md-10">
                                        <label asp-for="RoomName" class="control-label text-white"></label>
                                        <input asp-for="RoomName" class="form-control text-white" required />
                                        <span asp-validation-for="RoomName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group align-self-center col-md-1">
                                        <label asp-for="IsOpen" class="control-label text-white"></label>
                                        <input asp-for="IsOpen" class="form-control text-white" />
                                        <span asp-validation-for="IsOpen" class="text-danger"></span>
                                    </div>
                                    <div class="form-group align-self-center col-md-1">
                                        <label asp-for="IsRemoved" class="control-label text-white"></label>
                                        <input asp-for="IsRemoved" class="form-control text-white" />
                                        <span asp-validation-for="IsRemoved" class="text-danger"></span>
                                    </div>

                                </div>

                                @*<div class="form-group">
                            <label asp-for="MoviePath" class="control-label text-white"></label>
                            <textarea asp-for="MoviePath" class="form-control text-white" readonly></textarea>
                            <span asp-validation-for="MoviePath" class="text-danger"></span>
                        </div>*@

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label asp-for="ImageFile" class="control-label text-white"></label>
                                        <label class="form-control m-0 p-0">
                                            <input asp-for="ImageFile" type="file" accept="image/png,image/jpeg" class="form-control text-white" placeholder="Прикрепите файл">
                                            <button type="button" class="btn btn-outline-secondary text-white w-100 clickOnButton" onclick=" $('#ImageFile').trigger('click'); ">Добавить обложку</button>
                                        </label>
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group col-md-4">
                                <label asp-for="DateOfRelease" class="control-label text-white"></label>
                                <input asp-for="DateOfRelease" type="date" max="@DateTime.Now.ToString(" yyyy-MM-dd")" class="form-control text-white" required />
                                <span asp-validation-for="DateOfRelease" class="text-danger"></span>
                            </div>*@
                                </div>
                            </div>
                        </div>

                        @*<h4 class="mb-3 text-white">Дополнительные поля</h4>
                <div class="form-group">
                    <label asp-for="Author" class="control-label text-white"></label>
                    <textarea asp-for="Author" class="form-control text-white"></textarea>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actors" class="control-label text-white"></label>
                    <textarea asp-for="Actors" class="form-control text-white"></textarea>
                    <span asp-validation-for="Actors" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label text-white"></label>
                    <input asp-for="Country" class="form-control text-white" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label text-white"></label>
                    <textarea asp-for="Description" class="form-control text-white"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieBudget" class="control-label text-white"></label>
                    <input asp-for="MovieBudget" class="form-control text-white" />
                    <span asp-validation-for="MovieBudget" class="text-danger"></span>
                </div>*@
                        <div class="form-row">
                            <div class="form-group col-md-11">
                                <input type="submit" class="btn btn-dark mt-4 w-100" value="Редактировать" />
                            </div>
                            <div class="form-group col-md-1">
                                <button type="reset" class="btn btn-dark mt-4 w-100" onclick="Clear()">
                                    <i class="fas fa-eraser text-white"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
    </div>
    <script src="~/js/admin/movie-settings/change.js"></script>
}
