@model Online_Cinema_UI.Models.SessionViewModel

<form id="addSessionForm" asp-action="AddSession" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3 class="mb-3 text-white">Создание сеанс</h3>
    <div class="form-row mb-4">
        <div class="form-group col-md-3 search">
            <label asp-for="CinemaRoomId" class="control-label text-white"></label>
            <input onchange="ChangeCinemaRoom(this)" class="form-control btn clickOnButton text-white" type="text" id="ajaxCinemaRoom" list="json-datalistCinemaRoom" placeholder="Cinema Room" required>
            <datalist class="text-white" id="json-datalistCinemaRoom"></datalist>
            <span asp-validation-for="CinemaRoomId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3 search">
            <label asp-for="MovieId" class="control-label text-white"></label>
            <input onchange="ChangeMovie(this)" class="form-control btn clickOnButton text-white" type="text" id="ajaxMovie" list="json-datalistMovie" placeholder="Movie" required>
            <datalist class="text-white" id="json-datalistMovie"></datalist>
            <span asp-validation-for="MovieId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Start" class="control-label text-white"></label>
            <input asp-for="Start" onchange="ChangeStart(this)" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")"  class="form-control btn text-white" required />
            <span asp-validation-for="Start" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="End" class="control-label text-white"></label>
            <input asp-for="End" class="form-control btn text-white" disabled required />
            <span asp-validation-for="End" class="text-danger"></span>
        </div>
    </div>
    <div id="listSessionsDiv"></div>
    <div class="form-row">
        <div class="form-group col-md-11">
            <input type="submit" class="btn btn-dark mt-4 w-100" value="Добавить" />
        </div>
        <div class="form-group col-md-1">
            <button type="reset" class="btn btn-dark mt-4 w-100">
                <i class="fas fa-eraser text-white"></i>
            </button>
        </div>
    </div>
</form>

<script src="~/js/admin/session-setting/add.js"></script>