<link href="~/css/admin-panel.css" rel="stylesheet" />

<div class="col mycontent pt-3">
    <div class="pt-4 pl-2 pr-2 vh-100">
        <div style=" z-index:1; min-width:300px; top:-1em; margin-top:-1em; position: sticky; padding-bottom:0px; background-color: #0e0e10;   ">
            <h1 style="color:#3eaaaf">Редактор</h1>
            <div class="btn-group pb-3" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary clickOnButton" onclick="SFilms(this)">Редактор материалов</button>
                <button type="button" class="btn btn-outline-secondary" onclick="SCinemaRoom(this)">Редактор кинозалов</button>
                <button type="button" class="btn btn-outline-secondary" onclick="SSession(this)">Редактор сеансов</button>
            </div>


        </div>
        <div id="mainDiv" class="vh-100">
            @*@{await Html.RenderPartialAsync("_AddFilm");}*@
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/admin/index.js"></script>
}