@model Online_Cinema_UI.Models.LoginViewModel

<form asp-action="Login" style="padding:10px">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Login" class="control-label text-white"></label>
        <input asp-for="Login" type="text" class="form-control text-white" required />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label text-white"></label>

        <div class="form-group">
            <input id="password" asp-for="Password" type="password" class="form-control text-white" required />
            <span onclick="ShowPassword(this)" class="fas fa-eye field-icon" style="z-index:0"></span>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
            </label>
        </div>*@
    <div class="form-group">
        <input type="submit" class="btn btn-dark mt-4 w-100" value="Login In" />
    </div>
</form>