@model Online_Cinema_UI.Models.RegisterViewModel

<form asp-action="Register" enctype="multipart/form-data" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username" class="control-label text-white"></label>
        <input asp-for="Username" class="form-control text-white" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label text-white"></label>

        <div class="form-group">
            <input id="password" asp-for="Password" type="password" class="form-control text-white" required />
            <span onclick="ShowPassword(this)" class="fas fa-eye field-icon"></span>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label text-white"></label>

        <div class="form-group">
            <input id="confirmPassword" asp-for="ConfirmPassword" type="password" class="form-control text-white" required />
            <span onclick="ShowPassword(this)" class="fas fa-eye field-icon"></span>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Birthday" class="control-label text-white"></label>
        <input asp-for="Birthday" type="date" class="form-control text-white" required />
        <span asp-validation-for="Birthday" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label text-white"></label>
        <input asp-for="Email" type="email" class="form-control text-white" autocomplete="on" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-dark mt-4 w-100" value="Login In" />
    </div>
</form>