<link href="~/css/start-page.css" rel="stylesheet" />

@if (!User.Identity.IsAuthenticated)
{
    <div class="col pt-3" style="height: 95vh;">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-sm-3 align-self-center" style="padding:30px; background-color: #18181b; min-width:300px">
                <div class="btn-group pb-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary clickOnButton" onclick="LoginIn(this)">Login In</button>
                    <button type="button" class="btn btn-outline-secondary" onclick="SignUp(this)">Sign Up</button>
                </div>

                <div class="container-fluid" id="mainDiv">
                    @{await Html.RenderPartialAsync("_Login");}
                </div>
            </div>
        </div>
    </div>
}

<script src="~/js/start-page.js"></script>
