@model Online_Cinema_UI.Models.CinemaRoomViewModel

<form id="addCinemaRoomForm" asp-action="AddCinemaRoom" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3 class="mb-3 text-white">Создание кинозала</h3>

    <div class="form-row mb-4">
        <div class="form-group col-md-3 pr-2">
            <img id="viewImage" src="~/Images/background-fon.jpg" />
        </div>
        <div class="form-group col-md-9">

            <div class="form-group">
                <label asp-for="CinemaRoomName" class="control-label text-white"></label>
                <input asp-for="CinemaRoomName" class="form-control text-white" required />
                <span asp-validation-for="CinemaRoomName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label text-white"></label>
                <label class="form-control m-0 p-0">
                    <input asp-for="ImageFile" type="file" accept="image/png,image/jpeg" class="form-control text-white" placeholder="Прикрепите файл">
                    <button type="button" class="btn btn-outline-secondary text-white w-100 clickOnButton" onclick=" $('#ImageFile').trigger('click'); ">Добавить обложку</button>
                </label>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label text-white"></label>
                <textarea asp-for="Description" class="form-control text-white"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-11">
            <input type="submit" class="btn btn-dark mt-4 w-100" value="Добавить"/>
        </div>
        <div class="form-group col-md-1">
            <button type="reset" class="btn btn-dark mt-4 w-100" onclick="Clear()">
                <i class="fas fa-eraser text-white"></i>
            </button>
        </div>
    </div>
</form>

<script src="~/js/admin/cinema-room-settings/add.js"></script>