@model Online_Cinema_UI.Models.CinemaRoomViewModel

<form id="addCinemaRoomForm" asp-action="AddCinemaRoom" enctype="multipart/form-data" style="padding:10px">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3 class="mb-3 text-white">Создание кинозала</h3>

    <div class="form-row mb-4">
        <div class="form-group col-md-3 pr-2">
            <img id="viewImage" style=" object-fit: cover; width: 100%; height: 550px" src="~/Images/background-fon.jpg" />
        </div>
        <div class="form-group col-md-9">

            <div class="form-group">
                <label asp-for="CinemaRoomName" class="control-label text-white"></label>
                <input asp-for="CinemaRoomName" class="form-control text-white" style="background-color: #464649; border: none" required />
                <span asp-validation-for="CinemaRoomName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label text-white"></label>
                <label class="form-control m-0 p-0" style="background-color:transparent; border:none">
                    <input asp-for="ImageFile" type="file" accept="image/png,image/jpeg" class="form-control text-white" style="background-color: #464649; border: none; display:none; " placeholder="Прикрепите файл">
                    <button type="button" class="btn btn-outline-secondary text-white w-100 clickOnButton" onclick=" $('#ImageFile').trigger('click'); ">Добавить обложку</button>
                </label>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label text-white"></label>
                <textarea asp-for="Description" class="form-control text-white"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-11">
            <input type="submit" class="btn btn-dark mt-4" value="Добавить" style="background-color: #3eaaaf; width:100%" />
        </div>
        <div class="form-group col-md-1">
            <button type="reset" class="btn btn-dark mt-4" style="background-color: #3eaaaf; width:100%" onclick="Clear()">
                <i class="fas fa-eraser text-white"></i>
            </button>
        </div>
    </div>
</form>


<script>
    $("#ImageFile").change(function (event) {
        let files = event.target.files;
        $("#viewImage").attr("src", window.URL.createObjectURL(files[0]));
    });

    $("textarea").each(function () {
        this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
    }).on("input", function () {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
    });

    function Clear() {
        $("#viewImage").attr("src", "../Images/background-fon.jpg");
        $("#fluxGenre").html("");
    }

    $(function () {
        $("#addCinemaRoomForm").submit(function (e) {
            e.preventDefault();
            var formAction = $(this).attr("action");

            var formData = new FormData();

            var fileInput = $("#ImageFile")[0];
            var file = fileInput.files[0];
            formData.append("ImageFile", file);

            formData.append("CinemaRoomName", $("#CinemaRoomName").val());
            formData.append("Description", $("#Description").val());

            $.ajax({
                type: "POST",
                url: formAction,
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    alert("success");
                },
                error: function (e) {
                    alert(e.statusText)
                }
            })

        })
    });
</script>
