@model Online_Cinema_Models.View.CinemaRoomViewModel
@if (Model != null)
{
    <form id="changeCinemaRoomForm" asp-action="ChangeCinemaRoom" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3 class="mb-3 text-white">Редактирование кинозала</h3>

        <div class="form-row mb-5">
            <div class="form-group col-md-3 pr-2">
                <img id="viewImage" src=@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@Model.CinemaRoomImage)) />
            </div>
            <div class="form-group col-md-9">
                <input asp-for="Id" type="hidden" />
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <label asp-for="CinemaRoomName" class="control-label text-white"></label>
                        <input asp-for="CinemaRoomName" class="form-control text-white" required />
                        <span asp-validation-for="CinemaRoomName" class="text-danger"></span>
                    </div>
                    <div class="form-group align-self-center col-md-1">
                        <label asp-for="IsRemoved" class="control-label text-white"></label>                                             
                        <input asp-for="IsRemoved" class="form-control text-white" />
                        <span asp-validation-for="IsRemoved" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label text-white"></label>
                    <label class="form-control m-0 p-0">
                        <input asp-for="ImageFile" type="file" accept="image/png,image/jpeg" class="form-control text-white" placeholder="Прикрепите файл">
                        <button type="button" class="btn btn-outline-secondary text-white w-100 clickOnButton" onclick=" $('#ImageFile').trigger('click'); ">Добавить обложку</button>
                    </label>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label text-white"></label>
                    <textarea asp-for="Description" class="form-control text-white"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <h3 class="mb-3 text-white">Список сеансов</h3>
        <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
            <div>
                <button type="button" class="btn clickOnButton text-white" onclick="GetAllSessions()">Все сеансы</button>
            </div>
            <div style="width:10%">

            </div>
            <div style="width:50%;">
                <input id="dateSession" type="date" class="btn clickOnButton text-white" placeholder="Поиск по дате" style="width:65%" />
                <button type="button" class="btn clickOnButton text-white" onclick="SearchByDate()">Поиск</button>
            </div>
        </div>

        <div id="listSessionsDiv"></div>


        <div class="form-row">
            <div class="form-group col-md-11">
                <input type="submit" class="btn btn-dark mt-4 w-100" value="Редактировать" />
            </div>
            <div class="form-group col-md-1">
                <button type="reset" class="btn btn-dark mt-4 w-100" onclick="Clear()">
                    <i class="fas fa-eraser text-white"></i>
                </button>
            </div>
        </div>
    </form>

    <script src="~/js/admin/cinema-room-settings/change.js"></script>
}