@model Online_Cinema_UI.Models.CinemaRoomViewModel
@if (Model != null)
{
    <form id="changeCinemaRoomForm" asp-action="ChangeCinemaRoom" enctype="multipart/form-data" style="padding:10px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3 class="mb-3 text-white">Редактирование кинозала</h3>

        <div class="form-row mb-5">
            <div class="form-group col-md-3 pr-2">
                <img id="viewImage" style=" object-fit: cover; width: 100%; height: 550px" src=@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@Model.CinemaRoomImage)) />
            </div>
            <div class="form-group col-md-9">
                <input asp-for="Id" type="hidden" />
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <label asp-for="CinemaRoomName" class="control-label text-white"></label>
                        <input asp-for="CinemaRoomName" class="form-control text-white" style="background-color: #464649; border: none" required />
                        <span asp-validation-for="CinemaRoomName" class="text-danger"></span>
                    </div>
                    <div class="form-group align-self-center col-md-1">
                        <label asp-for="Remote" class="control-label text-white"></label>
                        <input asp-for="Remote" class="form-control text-white" style=" background-color: #464649; border: none; border:solid 2px red" />
                        <span asp-validation-for="Remote" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label text-white"></label>
                    <label class="form-control m-0 p-0" style="background-color:transparent; border:none">
                        <input asp-for="ImageFile" type="file" accept="image/png,image/jpeg" class="form-control text-white" style="background-color: #464649; border: none; display:none; " placeholder="Прикрепите файл">
                        <button type="button" class="btn btn-outline-secondary text-white w-100 clickOnButton" onclick=" $('#ImageFile').trigger('click'); ">Добавить обложку</button>
                    </label>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label text-white"></label>
                    <textarea asp-for="Description" class="form-control text-white"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <h3 class="mb-3 text-white">Список сеансов</h3>
        <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
            <div>
                <button type="button" class="btn clickOnButton text-white" onclick="GetAllSessions()">Все сеансы</button>
            </div>
            <div style="width:10%">

            </div>
            <div style="width:50%;">
                <input id="dateSession" type="date" class="btn clickOnButton text-white" placeholder="Поиск по дате" style="width:65%" />
                <button type="button" class="btn clickOnButton text-white" onclick="SearchByDate()">Поиск</button>
            </div>
        </div>

        <div id="listSessionsDiv"></div>


        <div class="form-row">
            <div class="form-group col-md-11">
                <input type="submit" class="btn btn-dark mt-4" value="Редактировать" style="background-color: #3eaaaf; width:100%" />
            </div>
            <div class="form-group col-md-1">
                <button type="reset" class="btn btn-dark mt-4" style="background-color: #3eaaaf; width:100%" onclick="Clear()">
                    <i class="fas fa-eraser text-white"></i>
                </button>
            </div>
        </div>
    </form>

    <script>
    $("#ImageFile").change(function (event) {
        let files = event.target.files;
        $("#viewImage").attr("src", window.URL.createObjectURL(files[0]));
    });

    $("textarea").each(function () {
        this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
    }).on("input", function () {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
    });

    function Clear() {
        $("#viewImage").attr("src", "../Images/background-fon.jpg");
        $("#fluxGenre").html("");
    }

    function GetAllSessions(e) {
        $.ajax({
            type: 'GET',
            data: { "cinemaRoomId": $("#Id").val() },
            url: '@Url.Content("/Admin/_ListSessions")',
            success: function (result) {
                debugger;
                $("#listSessionsDiv").html(result);
            }
        });
        $("#ajax").val("");
    }

    function SearchByDate(e) {
        $.ajax({
            type: 'GET',
            data: {
                "cinemaRoomId": $("#Id").val(),
                "dateSession": $("#dateSession").val()
            },
            url: '@Url.Content("/Admin/_ListSessions")',
            success: function (result) {
                if (result != "") $("#listSessionsDiv").html(result);
                else $("#listSessionsDiv").html(result);
            }
        });
    }

    $(function () {
        $("#changeCinemaRoomForm").submit(function (e) {
            e.preventDefault();
            var formAction = $(this).attr("action");

            var formData = new FormData();

            var fileInput = $("#ImageFile")[0];
            var file = fileInput.files[0];
            formData.append("ImageFile", file);

            formData.append("Id", $("#Id").val());
            formData.append("CinemaRoomName", $("#CinemaRoomName").val());
            formData.append("Description", $("#Description").val());
            formData.append("Remote", $('#Remote').is(":checked"));

            $.ajax({
                type: "POST",
                url: formAction,
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    alert("success");
                },
                error: function (e) {
                    alert(e.statusText)
                }
            })

        })
    });
    </script>

    <style>
        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }
    </style>
}