
<div class="mb-5" style="padding:30px; z-index:1; min-width:300px; background-color: #18181b;">
    <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
        <div>
            <button type="button" class="btn clickOnButton text-white" onclick="AddCinemaRoom()">Добавить</button>
        </div>
        <div style="width:10%">

        </div>
        <div class="search" style="width:50%;">
            <input class="btn clickOnButton text-white" type="text" id="ajax" list="json-datalist" placeholder="Редактировать существующий" style="width:65%">
            <datalist class="text-white" id="json-datalist"></datalist>

            <button type="button" class="btn clickOnButton text-white" onclick="ChangeCinemaRoom()">Поиск</button>
        </div>
    </div>

    <div id="cinemaRoomSettingsDiv"></div>
</div>

<script src="~/js/admin/cinema-room-settings/settings.js"></script>